body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('../src/assets/background3.jpg');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed when scrolling */

}